.dropzone {
  &:hover {
    background-color: #f5f5f5;
  }

  > div {
    border-color: rgba(0,0,0,0.15) !important;
    border-radius: 3px !important;
    border-style: dashed !important;
    border-width: 2px !important;
    cursor: pointer;
    height: auto !important;
    min-width: 200px;
    width: auto !important;
  }

  p {
    padding: 15px;
    text-align: center;

    strong {
      display: block;
    }
  }
}

.dropzone-files {
  list-style: none;
  margin: 0;

  li {
    border-bottom:  1px solid #ececec;
    cursor: pointer;
    padding: 7px 10px;

    &:hover {
      background-color: #f5f5f5;
    }

    &:last-child {
      border-bottom: 0 none;
    }

    span {
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 92%;
    }

    .remove {
      float: right;
    }

    small {
      clear: both;
      display: block;
    }
  }
}
