@import "~grommet/scss/vanilla/index";
@import "~nprogress/nprogress";

@import "objects.file-upload";

textarea {
  resize: none !important;
}

.profile-photos {
  .dropzone {
    width: 100%;
  }

  .carousel-slide {
    position: relative;
  }

  .delete-image-button {
    background-color: white;
    border-radius: 0;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    right: 0;
  }
}

.profile-info {
  .grommetux-box {
    .grommetux-form-field {
      &:nth-child(2) {
        border-left: 0 none;
        margin-bottom: -1px;
      }
    }
  }
}
